.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Below navbar */
.dashboard-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
