.calendar-modal-main {
  font-family: var(--titleMediumFont);
}

.calendar-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.datetime-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 6px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-category {
  font-size: 14px;
  // font-weight: 500;
  &.client {
    margin: 3px;
    color: #ca3500;
    padding: 4px 8px;
    border: 2px solid #ffd6a7;
    border-radius: 10px;
    background-color: #ffedd4;
    opacity: 2;
  }
  &.internal {
    margin: 3px;
    padding: 4px 8px;
    border: 2px solid #bedbff;
    border-radius: 10px;
    background-color: #dbeafe;
    color: #1447e6;
    opacity: 2;
  }
  &.executive {
    color: #8200db;
    margin: 3px;
    padding: 4px 8px;
    border: 2px solid #e9d4ff;
    background-color: #f3e8ff;
    border-radius: 10px;
    opacity: 2;
  }
}

.calendar-modal-content {
  .modal-section {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.calendar-modal-actions {
  margin-bottom: 14px;

  .close-button {
    font-size: small !important;
    text-transform: capitalize;
    color: black;
    background-color: white;
    border-color: none;
    padding: 4px 8px !important;
  }
  .delete-button {
    text-transform: capitalize;
    font-size: small !important;
    background-color: white;
    border-color: red;
    color: red;
    padding: 4px 8px !important;
  }
  .edit-button {
    text-transform: capitalize;
    color: white;
    background-color: black;
    font-size: small !important;
    // background-color: red;
    padding: 4px 8px !important;
  }
}

.MuiDialog-root {
  z-index: 1500 !important;
}
