.calendar-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.datetime-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 6px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-category {
  font-size: 13px;
  color: #fff;
  &.client {
    margin: 3px;
    padding: 4px 8px;
    border: 2px solid rgb(104, 49, 4);
    border-radius: 10px;
    background-color: #ff6900;
    opacity: 2;
  }
  &.internal {
    margin: 3px;
    padding: 4px 8px;
    border: 2px solid rgb(6, 7, 35);
    border-radius: 10px;
    background-color: #2b7fff;
    opacity: 2;
  }
  &.executive {
    // color: white;
    margin: 3px;
    padding: 4px 8px;
    border: 2px solid #3c0569;
    border-radius: 10px;
    background-color: #ad46ff;
    opacity: 2;
  }
}

.calendar-modal-content {
  .modal-section {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.calendar-modal-actions {
  margin-bottom: 14px;

  .close-button {
    font-size: small !important;
    text-transform: capitalize;
    color: black;
    background-color: white;
    border-color: none;
    padding: 4px 8px !important;
  }
  .delete-button {
    text-transform: capitalize;
    font-size: small !important;
    background-color: white;
    border-color: red;
    color: red;
    padding: 4px 8px !important;
  }
  .edit-button {
    text-transform: capitalize;
    color: white;
    background-color: black;
    font-size: small !important;
    // background-color: red;
    padding: 4px 8px !important;
  }
}

.MuiDialog-root {
  z-index: 1500 !important;
}
