.create-password {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-card {
  width: 450px;
  padding: 36px 32px;
  border-radius: 24px !important;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-title {
  font-weight: 500 !important;
}

.create-subtitle {
  color: #666;
  line-height: 1.5;
  margin-bottom: 14px !important;
}

.create-input {
  font-weight: 500 !important;
}

.create-field {
  & .MuiOutlinedInput-root {
    border-radius: 10px !important;

    fieldset {
      border-color: #ccc;
    }

    &:hover fieldset {
      border-color: var(--primary500);
    }

    &.Mui-focused fieldset {
      border-color: var(--primary500);
    }
  }
}

.confirm-btn {
  background-color: var(--primary500) !important;
  font-weight: 500 !important;
  margin-top: 18px !important;
  border-radius: 16px !important;
  width: 100%;
  padding: 10px !important;

  &:hover {
    background-color: var(--primary400) !important;
  }
}
