.dashboard-container {
  &__header {
    // display: flex !important;
    // gap: 20px !important;
  }

  &__content {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    // width: 100% !important;
    &__announcements {
      width: 100%;
    }

    &__dashboardupmeetings {
      width: 100%;
    }
  }
}

.dashboard-subcontainer {
  display: flex;
  // gap: 20px;
}
