.forgot-password{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.forgot-card{
    width: 480px;
    margin: 120px auto;
    padding: 16px;
    border-radius: 24px !important;
}

.forgot-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-title{
    font-weight: 500 !important;
    margin-bottom: 6px !important;
}

.forgot-subtitle{
    line-height: 1.5;
    margin-bottom: 46px !important;
}

.forgot-field{

  & .MuiOutlinedInput-root {
      border-radius: 10px !important;

    fieldset {
      border:1px solid var(--primary100) !important;
    }

    &:hover fieldset {
      border:2px solid var(--primary400) !important;
    }

    &.Mui-focused fieldset {
      border-color: var(--primary400) !important; 
    }
  }
}

.submit-btn{
    background-color: var(--primary400) !important;
    font-weight: 500 !important;
    margin-top: 12px !important;
    border-radius: 16px !important;
    width: 100%;
    padding: 10px !important;

  &:hover {
    background-color: var(--primary200) !important;
  }
}
