.forgot-password{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f6f6f8;
}

.forgot-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 46px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.logo-image{
  width: 100%;
      img{
        width: 120px;
      }
}

.topbar-right {
  display: flex;
  gap: 15px;
}

.topbar-field {
    width: 240px;
    right: 2%;
}

.topbar-btn {
    background: var(--primary400) !important;
    text-transform: none !important;
    width: 120px;
    border-radius: 16px !important;
}

.topbar-btn:hover {
    background: var(--primary200) !important;
}

.forgot-card{
    width: 480px;
    // width: 678px;
    // height: 340px;
    margin: 120px auto;
    padding: 16px;
    border-radius: 24px !important;
}

.forgot-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-title{
    font-weight: 500 !important;
    margin-bottom: 6px !important;
}

.forgot-subtitle{
    line-height: 1.5;
    margin-bottom: 46px !important;
}

.forgot-field, .topbar-field {

  & .MuiOutlinedInput-root {
      border-radius: 10px !important;

    fieldset {
      border:1px solid var(--primary100) !important;
    }

    &:hover fieldset {
      border:1px solid var(--primary400) !important;
    }

    &.Mui-focused fieldset {
      border-color: var(--primary400) !important; 
    }
  }
}

.submit-btn{
    background-color: var(--primary400) !important;
    font-weight: 500 !important;
    margin-top: 12px !important;
    border-radius: 16px !important;
    width: 100%;
    padding: 10px !important;

  &:hover {
    background-color: var(--primary200) !important;
  }
}
