// .MeetingRooms{
//   display: flex;

//   justify-content: center;
//   padding: 0;
// }

// .titleDesc {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
// }
.meeting-table {
  display: flex;
  flex-direction: column;
  gap: 12px !important;

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__content__card {
    padding: 0 !important;
    display: flex;
    margin: 2px !important;
    flex-direction: column;
    justify-content: space-between !important;
    gap: 15px;
  }
}
