.TablrContainer{
  border-radius: 10px;
}

.TableHead{
background-color: #F9FAFB;}

.titleDesc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .title{
    font-size: 28px;
    font-weight: 800;
  }

  .desc{
    color: var(--colorsNeutral600)
  }
}

.tabs{
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1.5px solid #E5E7EB;
  margin: 16px 0;
  gap: 10px;
  cursor: default;

  .active{
    color: #155DFC  ;
    border-bottom:2px solid #155DFC !important;

  }
  .participants-tab, .group-tab{
    display: flex;
    align-items: center;
    gap: 8px;
    // justify-content: center;
    padding: 8px 8px;
    // border-bottom: 1px solid red;

  }
}

.edit-btn{
  color: #0A0E19 !important;
  border: 0.5px solid #E5E5E5 !important;
  margin: 10px 0 !important;
  border-radius: 8px !important;

  text-transform: none !important;
  font-weight: 500;
  display: flex;
  gap: 8px;
  &.edit-mode{
    background-color: black;
    color: white !important;
  }

}

.external-members {
  border: 2px solid #f26a00;
  border-radius: 12px;
  padding: 20px;
  background: #fff7f2;
  display: flex;
  flex-direction: column;

  .external-header {
    display: flex;
    align-items: center;

    svg {
      color: #f26a00;
    }
    .header{
      color: brown;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .field{
    display: flex;
    flex-direction: column;

    .field-label{
      font-size: 12px;
    }
  }

  .MuiTextField-root {
    background: #f3f4f6;
    border-radius: 8px;

    .MuiOutlinedInput-root {
      border-radius: 8px;
    }
  }

  .external-note {
    background: #fff3e8;
    border: 1px solid #f5a267;
    border-radius: 8px;
    padding: 10px 12px;

    .note{
    font-size: 13px;
    color: #7a3b00;
    }

    b {
      color: brown;
      font-size: 13px;
    }
  }

  .external-buttons {
    display: flex;
    gap: 10px;
    align-items: center;

    .participants-btn:first-child {
      background: #f24e00;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      text-transform: none;
      padding: 10px;
      padding: 10px 18px;
      height: 38px; 

      &:hover {
        background: #d84300;
      }
    }

    .participants-btn:last-child {
      background: white;
      color: #374151;
      border-radius: 8px;
      text-transform: none;
      padding: 10px 18px;
      height: 38px; 

      &:hover {
        background: #e5e7eb;
      }
    }
  }
}
.participants-table{
  margin-top: 20px;
}