.meeting-table {
  margin-top: 20px;
  border-radius: 15px !important;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    margin: 8px;
    padding-bottom: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: flex;
    gap: 4px;
    font-size: 13px !important;
    text-transform: none !important;
    color: white !important;
    border-radius: 8px !important;
    background: black !important;
    padding: 6px 12px !important;
  }
  &__subtitle {
    color: #6b7280;
    margin-top: 4px;
  }

  &__paper {
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
  }
  &__buttons {
    display: flex;
    gap: 10px;

    &__filter {
      font-size: 13px !important;
      text-transform: none !important;
      color: black !important;
      border-radius: 8px !important;
      font-weight: 600 !important;
      background: white !important;
      padding: 6px 12px !important;
      border: 1px solid rgb(170, 165, 165) !important;
      gap: 7px;

      &.active {
        background-color: black !important;
        color: white !important;
      }
    }
    &__export {
      font-size: 13px !important;
      text-transform: none !important;
      color: white !important;
      font-weight: 600 !important;
      border-radius: 8px !important;
      background: #00a63e !important;
      padding: 6px 12px !important;
      gap: 7px;
    }
  }
  &__container {
    max-height: 440px;
    overflow-x: auto;
  }

  &__container table {
    min-width: 1200px;
  }

  &__head {
    font-weight: 600;
    background-color: #e5e7eb !important;
  }

  .MuiTableRow-root:hover {
    background-color: #f8fafc;
  }

  .MuiTableCell-root {
    font-size: 14px;
  }
}
