.room-box{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: white;
    padding: 12px;
    gap: 8;
    margin-bottom: 12px;
    border-radius: 8px;
}

