.settings {
  padding: 0px 12px;
  font-family: var(--titleMediumFont);

  //ProfileSection
  .settings-title {
    font-weight: 600 !important;
    // font-family: Arial, Helvetica, sans-serif;
  }

  .settings-subtitle {
    color: #4a5565;
    margin-bottom: 22px !important;
  }

  .settings-card {
    width: 100%;
    padding: 28px;
    border-radius: 14px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;
  }

  .settings-header {
    font-size: 18px;
    font-weight: 300;
  }

  .name {
    display: flex;
    gap: 20px;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .field-label {
    font-size: 15px;
    color: #0A0A0A;
    font-weight: 600;
    color: black;
  }

  .settings-btn {
    background-color: black;
    color: white;
    margin-top: 15px;
    border-radius: 8px;
    height: 40px;
    padding: 12px ;
    text-transform: none; 

    &:hover{
      opacity: 0.9;
      box-shadow: none;
    }
  }

  .MuiTextField-root {
    background: #f3f3f5;
    border-radius: 8px;

    .MuiOutlinedInput-root {
      border-radius: 8px;

      fieldset {
        border-color: #f3f3f5 !important;
      }
      &:hover fieldset {
        border: #d5d9de !important;
      }
      &.Mui-focused fieldset {
        border: 3px solid #d5d9de !important;
      }
      input,
      textarea {
        padding: 8px 10px !important;
        color: #2f2f2f !important;
      }
    }
  }

  //NotificationSection
  .second-card {
    width: 100%;
    padding: 28px;
    border-radius: 14px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;
    margin-top: 30px;
  }

  .second-header {
    font-size: 18px;
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
  }

  .settings-notification {
    display: flex;
    flex-direction: column;
  }

  .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
  }

  .notification-icon {
    margin-top: 8px;
    color: #6a7282;
    width: 22px;
    height: 22px;
  }

  .email {
    flex: 1;   
  }

  .title {
    font-weight: 600;
    color: rgb(46, 45, 45);
  }

  .subtitle {
    font-size: 14px;
    color: #777;
  }

  .settings-notification hr {
    border: none;
    height: 1px;
    background-color: #d5d9de;
    margin: 4px 0;
  }

  //ColorSection
  .third-card {
    width: 100%;
    padding: 28px;
    border-radius: 14px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;
    margin-top: 30px;
  }

  .third-header {
    font-size: 18px;
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
  }

  .third-subheader {
    color: #777;
    margin-top: 26px;
  }

  .settings-color {
    display: flex;
    flex-direction: column;
  }

  .color-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
  }

  .color {
    flex: 1;   
  }

  .title {
    font-weight: 600;
    color: rgb(46, 45, 45);
  }

  .subtitle {
    font-size: 14px;
    color: #777;
  }

  .settings-color hr {
    border: none;
    height: 1px;
    background-color: #d5d9de;
    margin: 4px 0;
  }
  
  .color-btn{
    display: flex;
    gap: 12px !important;
  }
  .reset-btn {
    background-color: white;
    color: black;
    border: 1px solid #d8d5d5;
    box-shadow: none;
    margin-top: 15px;
    border-radius: 8px;
    height: 40px;
    padding: 12px ;
    text-transform: none; 

    &:hover{
      background-color: #f2f2f2;
      box-shadow: none; 
    }
  }

  //BookingSection
  .fourth-card {
    width: 100%;
    padding: 28px;
    border-radius: 14px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;
    margin-top: 30px;
  }

  .fourth-header {
    font-size: 18px;
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
  }

  .booking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
    margin-top: 12px;
  }

  .booking {
    flex: 1;   
  }

  //SecuritySection
  .fifth-card {
    width: 100%;
    padding: 28px;
    border-radius: 14px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04) !important;
    margin-top: 30px;
  }

  .fifth-header {
    font-size: 18px;
    display: flex;
    gap: 12px;
    margin-bottom: 15px;
  }

  .settings-security {
    display: flex;
    flex-direction: column;
  }

  .security-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 0;
  }

  .security {
    flex: 1;   
  }

  .title {
    font-weight: 600;
    color: rgb(46, 45, 45);
  }

  .subtitle {
    font-size: 14px;
    color: #777;
  }

  .settings-security hr {
    border: none;
    height: 1px;
    background-color: #d5d9de;
    margin: 4px 0;
  }
  
  .reset-btn {
    background-color: white;
    color: black;
    border: 1px solid #d8d5d5;
    box-shadow: none;
    margin-top: 15px;
    border-radius: 8px;
    height: 40px;
    padding: 12px ;
    text-transform: none; 

    &:hover{
      background-color: #f2f2f2;
      box-shadow: none; 
    }
  }

}
