.topbar {
  height: 84px;
  background-color: #f2edff !important;
}

.topbar-toolbar {
  padding: 12px 0 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  margin-left: 12%;
  display: flex;
  align-items: center;
  gap: 54px;
  flex: 1;
  justify-content: flex-start;
  padding-left: 32px;
}

.topbar-search {
  width: 60%;

  .MuiOutlinedInput-root {
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    height: 50px;
  }
}

.topbar-actions {
  color: black;
  margin-right: 50px;
  cursor: pointer;
}

.notification-menu {
  width: 350px;
  max-height: 400px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.notification-header {
  margin: 5px 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-size: 18px !important;
  // font-weight: 700 !important;
}

.notification__icon{
  margin-right: 30px !important;
}

.notification-menu .MuiMenuItem-root {
  white-space: normal;
  word-break: break-word;
  align-items: flex-start;
}
