.topbar {
  height: 84px;
  background-color: #f2edff !important;
}

.topbar-toolbar {
  padding: 12px 24px;
  display: flex;
  align-items: center;
}

.nav-items {
  margin-left: 12%;
  display: flex;
  align-items: center;
  gap: 54px;
  flex: 1;
  justify-content: flex-start;
  // padding-left: 32px;
}

.topbar-search {
  width: 60%;

  .MuiOutlinedInput-root {
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    height: 50px;
  }
}

.topbar-actions {
  color: black;
  margin-right: 15px;
  cursor: pointer;
}

.notification-menu {
  width: 450px;

  max-height: 400px;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.notification-header {
  padding: 13px;
  // padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-size: 18px !important;
  // font-weight: 700 !important;
}

.notification__close {
  cursor: pointer;
}

// .notification__icon {
//   margin-right: 11px !important;
// }

.notification-menu .MuiMenuItem-root {
  white-space: normal;
  word-break: break-word;
  align-items: flex-start;
}

.profile-menu {
  width: 120px;
}

.notification__container {
  padding: 0 8px;
  background-color: #f9fafb;

  .read {
    // background-color: transparent;
    color: #6b7280;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .unread {
    background-color: #eef2ff;
  }
}

.notification__actions {
  margin: 5px 5px;
  display: flex;
  gap: 8px;
  // margin-left: 20px !important;
  // justify-content: ;

  &-tags {
    // background-color: rgb(206, 206, 224) !important;
    background-color: transparent;
    padding: 5px !important;
    color: black !important;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      background-color: rgb(219, 215, 215);
    }
  }
}

.notification__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // align-items: flex-start;
}

// .notification-item {
//   width: 100% !important;
// }

.notification-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read,
.unread {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.spacer {
  flex: 1;
}
