.verify-password{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f8;
}

.verify-card{
    width: 480px;
    margin: 120px auto;
    padding: 16px 80px;
    border-radius: 24px !important;
}

.verify-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-title{
    font-weight: 500 !important;
    margin-bottom: 12px !important;
}

.verify-subtitle{
    line-height: 1.5;
    margin-bottom: 6px !important;
}

.verify-email{
    color: #06737B;
    margin-bottom: 6px !important;
}

.verify-field {

  & .MuiOutlinedInput-root {
    border-radius: 10px !important;

    fieldset {
      border-color: #ccc;
    }

    &:hover fieldset {
      border-color: var(--primary500); 
    }

    &.Mui-focused fieldset {
      border-color: var(--primary500); 
    }
  }
}

.verify-btn{
    background-color: var(--primary500) !important;
    font-weight: 500 !important;
    margin-top: 18px !important;
    border-radius: 16px !important;
    width: 100%;
    padding: 10px !important;

  &:hover {
    background-color: var(--primary400) !important;
  }
}

