.verify-password{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.verify-card{
    width: 480px;
    margin: 120px auto;
    padding: 16px 80px;
    border-radius: 24px !important;
}

.verify-form {
  width: 260px;
  margin: 0 auto;
  text-align: center;
}

.verify-title{
    font-weight: 500 !important;
    margin-bottom: 12px !important;
}

.verify-subtitle{
    font-size: 18px !important;
    margin-bottom: 10px !important;
}

.verify-email{
    color: #06737B;
    word-break: break-all;
}

.otp-container {
  display: flex;
  gap: 6px;
  margin-top: 20px;
  justify-content: center;
}

.otp-box {
  width: 36px;

  input {
    text-align: center;
    font-size: 18px;          
    font-weight: 500;
    padding: 0;
  }
}

.verify-field {

  & .MuiOutlinedInput-root {
      border-radius: 10px !important;
      height: 46px;  

    fieldset {
      border:1px solid var(--primary100) !important;
    }

    &:hover fieldset {
      border:2px solid var(--primary400) !important;
    }

    &.Mui-focused fieldset {
      border:2px solid var(--primary400) !important; 
    }
  }
}

.verify-btn{
    background-color: var(--primary400) !important;
    font-weight: 500 !important;
    margin-top: 18px !important;
    border-radius: 16px !important;
    width: 100%;
    padding: 10px !important;

  &:hover {
    background-color: var(--primary200) !important;
  }
}

