.calendar-container {
  padding: 16px;
  border-radius: 8px !important;
  margin-top: 20px;
  width: 50%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .title {
    gap: 8px;
  }
}

.calendar-box{
    padding: 18px;
    background: rgb(246, 246, 247);
    border-radius: 8px;
    margin-bottom: 16px !important;
}
.calendar-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;

  .month-label {
    font-weight: 500;
  }

  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;

  .day-label {
    font-size: 12px;
    color: gray;
  }

  .day-cell {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;

    &:hover {
      background: #bdabda;
    }
  }

  .selected {
    background: #7b2ff7;
    color: white;
  }
}

.day-cell {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  text-align: center;

  &:hover {
    background: #f3f3f3;
  }

  .booking-dot {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #1976d2;
  }
}

.selected {
    background: #7b2ff7;
    color: white;
  }
.today {
  border: 1px solid #1976d2;
}

.today-meetings {
  padding: 0;

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 38px 0;
    border: 3px dotted #bccae9;
    border-radius: 10px;
    margin-bottom: 12px;
    text-align: center;
    color: #999;
    background: rgb(246, 246, 247);
  }
  .empty-icon {
    margin-bottom: 8px;
    opacity: 0.6;
  }
  .empty-text {
    font-size: 14px;
  }

  &__header {
    margin-bottom: 16px !important;
    font-weight: 400 !important;
  }

  &__badge{
    background: #e0e0e0;
    padding: 2px 8px;
    border-radius: 8px;
    margin-left: 6px;
  }

  &__card {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
    border: 1px solid rgb(201, 171, 201) ;
    background: rgb(245, 237, 245) !important;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 400 !important;
    font-size: 15px !important;
  }

  &__subtitle {
    font-size: 13px !important;
    color: #777;
    display: flex;
    align-items: flex-end;
  }

  &__chip {
    height: 22px !important;
    border: 1px solid !important;
    border-radius: 8px !important;
  }
}