.dashboard-announcements {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12) !important;
  &__section {
    border-radius: 8px !important;
    padding: 10px 16px !important;
  }

  &__top {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 440px;
    overflow-y: auto !important;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      width: none !important;
    }
  }
}
