.dashboard {
  // width: 100%;

  &__header {
    h1 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 6px;
    }

    p {
      font-size: 14px;
      color: #6b7280;
    }
  }

  &__grid {
    margin-top: 20px;
    // width: 100%;

    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
  }

  &__card {
    // width: 250px;
    padding: 10px 20px;
    border-radius: 12px !important;
    border: 1px solid #d5d3d3;
    transition: all 0.2s ease;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05) !important;
  }

  // &__card-content {
  //   height: 100%;
  // }

  &__card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px !important;
  }

  &__card-description {
    margin-top: 20px !important;
    font-size: 26px !important;
    font-weight: 600 !important;
    margin-bottom: 8px;
    color: black !important;
  }
  &__card-text {
    font-size: 12px;
  }
}

.icon {
  display: flex;
  align-items: center;
  color: #4f46e5;
}

.dashboard__card--4 {
  border-left: 4px solid red;
}

.dashboard__card--5 {
  border-left: 4px solid green;
}

.dashboard__card--6 {
  border-left: 4px solid orange;
}

.dashboard__card--7 {
  border-left: 4px solid purple;
}

