.dashboard-upmeetings {
  padding: 10px 32px;
  border-radius: 8px !important;
  background: white;
  
  &__header {
    display: flex;
    padding: 10px 0;
  }


  &__list{
    overflow-y: auto !important;
    height: 59vh;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      width: none !important;
    }
  }

  &__card {
    font-weight: 600 !important;
    margin-bottom: 14px;
    border: 1px solid #d2c5db !important;
    border-radius: 20px !important;
    padding: 4px;
    display: flex;
    flex-direction: column;

    cursor: pointer;
    &:hover {
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12) !important;
      border-color: #bdbdbd;
    }
    justify-content: space-between;
    margin-top: 20px;
  }

  &__cardheader {
    margin-bottom: -12px !important;
  }

  &__chip {
    height: 24px !important;
    border: 1px solid #d2c5db !important;
  }

  &__subheading {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400 !important;
  }
  &__subtitle {
    color: gray;
  }
  &__participants {
    color: gray;
    display: flex;
    align-items: center;
    gap: 6px !important;
    font-size: 14px !important;
  }
}

