.dashboard-announcements {
  width: 50%;
  margin-top: 20px;

  &__section {
    // flex: 1;
    border-radius: 8px !important;
    padding: 10px !important;
  }

  &__top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
  }

  &__title {
    display: flex;
  }
}
