.dashboard-upmeetings {
  // margin-top: 20px;
  padding: 10px 16px;
  border-radius: 8px !important;
  background: white;
  height: 89vh;
  overflow-y: scroll !important;
  // width: 100%;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12) !important;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: none !important;
  }

  &__header {
    display: flex;
  }

  &__heading {
    margin-bottom: 12px !important;
    font-weight: 500 !important;
  }

  &__card {
    font-weight: 600 !important;
    margin-bottom: 14px;
    border: 1px solid #d2c5db !important;
    border-radius: 20px !important;
    padding: 4px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
    &:hover {
      // transform: translateY(-0.5px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12) !important;
      border-color: #bdbdbd;
    }
  }

  &__cardheader {
    &__meetingtitle {
      font-size: 18px !important;
      font-weight: 600 !important;
    }
  }

  &__chip {
    border: 1px solid !important;
  }

  &__subheading {
    margin-top: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400 !important;
  }
  &__subtitle {
    font-weight: 400 !important;
    color: gray;
  }
  &__participants {
    color: gray;
    display: flex;
    align-items: center;
    gap: 6px !important;
    font-size: 14px !important;
  }
}
