.report-columns {
  margin-top: 20px;
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__title {
    font-weight: 600 !important;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 16px;

    .active {
      padding-left: 15px;
      justify-content: flex-start;
      text-transform: none;
      color: #111;
      font-weight: 500;
      border-radius: 8px;
      background-color: #f2edff;
    }

    .inactive {
      padding-left: 15px;
      justify-content: flex-start;
      text-transform: none;
      color: #125dde;
      font-weight: 400;
      border-radius: 8px;
    }
  }
}
