.Meeting-Card {
  // padding: 8px !important;
  border-radius: 12px !important;
  border: 0.5px solid #e5e5e5;
  box-shadow: none !important;
  gap: 10px;
}
.room-Card--Container {
  // padding: 10px;
}
.Meeting-title {
  font-size: var(--titleSmallSize) !important;
  font-weight: 600 !important;
  letter-spacing: var(--titleSmallTracking) !important;
  line-height: var(--titleSmallLineht) !important;
  color: black !important;
}
.Meeting-Card--content {
  display: flex;
  flex-direction: column;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 0.8px solid #dde5fd;
}
.TimeCapacity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;

  .Time,
  .Capacity {
    // color: var(--colors-Red-200);
    color: #4a5565;
    font-weight: 400;
    font-size: var(--bodySmallSize);
    line-height: var(--bodySmallLineht);
    letter-spacing: var(--bodySmallTracking);
  }
}
.Features-Tabs {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  align-items: center;
  justify-content: start;
}
.Meeitng_room-Feature {
  display: flex;
  background-color: #f3f4f6;
  border-radius: 4px;
  padding: 2px 4px;
  gap: 4px;
  text-align: center;
  // align-items: center;
}
.Feature-title {
  font-size: var(--bodySmallSize) !important;
  letter-spacing: var(--bodySmallTracking) !important;
  line-height: var(--bodySmallLineht) !important;
  color: #4a5565 !important;
}
.Meeting_room-Available {
  padding: 4px 17px;
  border-radius: 8px;
  // font-size: 12px !important;
  font-size: var(--labelSmallSize) !important;
  line-height: var(--labelSmallLineht) !important;
  letter-spacing: var(--labelSmallTracking) !important;
  &.Available {
    color: green;
    background-color: #c8e6c9;
  }
  &.Unavailable {
    color: var(--colors-Yellow-200);
    background-color: var(--colors-Yellow-Alpha-10);
  }
}
.Meeting_room-Book {
  width: 100%;

  &.Available {
    background-color: black;
  }
  &.Unavailable {
    background-color: var(--colorNeutral200);
    color: black !important;
    &:hover {
      background-color: #e0e0e0;
    }
  }
}
.Meeting-Card--Actions {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .Meeting-card-editbtns {
    display: flex;
  }
}
