.name-Col{
  display: flex;
  flex-direction: column;

  .fullname{
    // color: red;
    font-weight: 400;
  }
  .role{
    color: #957282;
    font-size: var(--labelSmallSize) !important;
  }
}

.department-chip{
  background-color: transparent !important;
  border: 0.1px solid #E5E5E5 !important;
}

.Contact{
  display: flex;
  flex-direction: column;


  .email, .number{
    color: #4A5592;
    display: flex;
    align-items: center;
    gap: 8px;
    // justify-content: center;
    font-size: var(--labelSmallSize);
  }
}

.menu-btn{
  font-size: 16px !important;
  align-items: center !important;
  justify-content: start !important;
  gap: 12px;
  margin: 0 2px !important;
  border-radius: 10px !important;
  font-weight:  lighter !important;
}