.participants-card {
  margin-top: 16px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid #e5e7eb;
  background: #f3f3f5;
}

.group-title {
  font-size: 13px !important;
  margin-bottom: 6px !important;
  font-weight: 300;
  color: gray;
}

.participants-tabs .MuiTabs-indicator {
  display: none;
}

.participants-tabs .MuiTab-root {
  text-transform: none;
  border-radius: 6px;
  min-height: 12px !important;
  font-size: 13px;
  color: rgb(43, 41, 41);
}

.participants-tabs .Mui-selected {
  background: #2563eb;
  color: white !important;
}

.tab-panel {
  padding: 0 !important;
}

.participants-list {
  margin-top: 10px;
  max-height: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.participant-item {
  background: white;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #e5e7eb;

  input {
    margin-top: 4px;
  }
}

.participant-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
  font-size: 14px;
}

.email {
  font-size: 13px;
  color: #6b7280;
}

.department {
  font-size: 12px;
  color: #2563eb;
}

.external-members {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.external-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
}

.external-note {
  background: #fff4e5;
  border: 1px solid #ff9800;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
}

.external-buttons {
  display: flex;
  gap: 10px;
}
.participants-btn{
  border-radius: 8px;
}